html, body {
    width: 100vw;
    height: 100vh; /* Assure que le fond prend toute la hauteur de la page */
    overflow-x: hidden;
    background-image: url('Ultimate Guide to Migrating Your Site from HTTP to HTTPS.jpg'); /* Remplace 'beackground.jpg' par le chemin de ton image */
    background-size: cover; /* Ajuste l'image pour couvrir toute la page */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    z-index: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 500;
}

.logo {
    height: 50px !important;
    width: auto !important;
}

.menu-toggle {
    font-size: 24px;
    cursor: pointer;
    display: block;
    border: none;
    color: black;
    background: none;
}

.nav {
    transition: max-height 0.3s ease-out;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    margin: 0 15px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

/* Mode mobile : menu en colonne */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    
    .nav {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        max-height: 0;
    }

    .nav ul {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .nav ul li {
        padding: 15px
    }

    .nav.active {
        max-height: 300px;
    }
}

/* Décalage du contenu pour éviter qu'il soit sous le menu */
.content {
    margin-top: 70px;
    padding: 20px;
}

.footer {
    position: fixed; /* Fixe la position à l'écran */
    bottom: 0; /* Place l'élément au bas de la page */
    width: 100%; /* S'assure que la barre couvre toute la largeur */
    text-align: center; /* Centre le texte */
    padding: 10px 0; /* Optionnel : espace autour du texte */
    font-size: 14px; /* Optionnel : taille de la police */
}

